<section>
    <div class="form-group" style="width:60%;margin: auto">
        <form #validationForm="ngForm" (ngSubmit) = "sendButtonClicked(validationForm.value);validationForm.reset();">
            <input type="text" class="form-control" ngModel placeholder="Enter desired schema name for saving"
            name="schemaName">
            <br>
            <textarea class="form-control" ngModel placeholder="Enter JSON string" name="jsonObject"></textarea>
            <br>
            <input type="file" ngModel class="form-control" name="schemaFile">
            <br>
            <button class="btn" type="submit">Send</button>
        </form>
    </div>
</section>